---
import Button from "../../system/Button.astro";
import Text from "../../system/Text.astro";

interface TestimonialProps {
  image: string;
  quote: string;
  author: string;
  ctaText: string;
  ctaLink: string;
  imageFade?: boolean;
  className?: string;
}

const {image,quote,author,ctaText,ctaLink,imageFade=false,className} = Astro.props as TestimonialProps
---

<div data-gsap data-y={30} class=`overflow-hidden mt-l flex flex-row  max-md:flex-col max-md:px-2 max-md:py-4 max-md:h-auto ${className} max-md:py-0 flex-1`>
    <!-- <div class='min-w-[34vw] max-md:w-[100%] max-md:min-h-[136px] bg-cover bg-center rounded-lg' style={{
      backgroundImage: `${imageFade ? 'linear-gradient(90deg, rgba(255, 255, 255, 0) 40.82%, #FFFFFF 95.62%),' : ''} url(${image})`
    }}> -->
    <slot>
      <img  
        src=`${image.src}`
        class="object-contain max-h-[200px] rounded-[22px]"
      />
    </slot>
    <div class='flex flex-col justify-around px-14 max-md:px-0 max-md:items-center'>
        <Text
            type={'sm'}
            class={'max-md:mt-4 max-md:w-[80%] max-sm:text-center'}
        >
            {quote}
        </Text>
        <Text type="sm" class="tracking-[1.8px] text-primary uppercase font-bold mt-0 max-md:mt-3">
          {author}
        </Text>
     {ctaText &&
      <div data-video-open="0">
        <Button class='mt-4'>
          <span>Watch Video</span>
          <svg slot="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM13.2313 8.72996C12.9466 8.53003 12.6242 8.32321 12.2903 8.1202C11.0034 7.33764 10.36 6.94636 9.7829 7.37957C9.2058 7.81278 9.15335 8.71968 9.04846 10.5335C9.01879 11.0464 9 11.5493 9 12.0001C9 12.4508 9.01879 12.9537 9.04846 13.4666C9.15335 15.2804 9.2058 16.1873 9.7829 16.6205C10.36 17.0537 11.0034 16.6625 12.2903 15.8799C12.6242 15.6769 12.9466 15.4701 13.2313 15.2702C13.5559 15.0423 13.909 14.7688 14.2651 14.4783C15.555 13.426 16.2 12.8999 16.2 12.0001C16.2 11.1002 15.555 10.5741 14.2651 9.52182C13.909 9.23134 13.5559 8.95785 13.2313 8.72996Z" fill="white"/>
          </svg>
        </Button>
      </div>
    }
    </div>
  </div>