---
import { twMerge as tw } from "tailwind-merge"

import { Image } from "astro:assets"
import Text from "../../system/Text.astro"

const { data, ...props } = Astro.props
---
<div class="flex flex-row max-lg:flex-col justify-items-start gap-[20px] h-fit max-md:h-auto" {...props}>
  {data.map((testimonial, index) => (
    <div  data-gsap data-delay={0.3 + index * 0.3} data-y={100} data-duration={0.7}  class="flex-1 flex border-[2.5px] border-[#E2E2E2] overflow-hidden flex-row max-md:flex-col w-full bg-white rounded-[12px]">
      <div class="w-[45%] max-md:w-full max-md:h-[260px] h-auto">
        <Image src={testimonial.image} alt={testimonial.alt} class="object-cover object-center w-full h-full" />
      </div>
      <div class="w-[55%] max-md:w-full p-6 flex flex-col justify-between">
        <div>
          <Text type="h4" class={tw(testimonial.titleClass, "text-[37px] max-lg:text-[25px]")} set:html={testimonial.title} />
          <div class="pt-[12px]" />
          <Text type="sm" set:html={testimonial.testimonial} />
        </div>
        <div>
          <Text type="sm" class={tw('text-[#121212] text-[24px] font-[700] pt-7')}>{testimonial.name}</Text>
          <Text type="sm" class={tw('text-[#121212]', testimonial.designationClass)}>{testimonial.designation}</Text>
        </div>
      </div>
    </div>
  ))}
</div>