---
import { twMerge as tw } from "tailwind-merge"

import { Image } from "astro:assets"
import Text from "../../system/Text.astro"

const { data } = Astro.props
---
<div class="flex flex-row justify-items-start gap-[20px] h-[590px]">
  {data.map(testimonial => (
    <div class="flex-1 flex border-[2.5px] border-[#E2E2E2] overflow-hidden flex-row w-full bg-white rounded-[12px]">
      <div class="w-[45%]">
        <Image src={testimonial.image} alt={testimonial.alt} class="object-cover w-full h-full" />
      </div>
      <div class="w-[55%] p-6 flex flex-col justify-between">
        <div>
          <Text type="h3" class={tw(testimonial.titleClass)} set:html={testimonial.title} />
          <div class="pt-[12px]" />
          <Text type="sm" set:html={testimonial.testimonial} />
        </div>
        <div>
          <Text type="sm" class={tw('text-[#121212] text-[24px]')}>{testimonial.name}</Text>
          <Text type="sm" class={tw('text-[#121212]', testimonial.designationClass)}>{testimonial.designation}</Text>
        </div>
      </div>
    </div>
  ))}
</div>