---
export interface Props {
	title?: string;
	description?: string;
	keywords?: string;
}
import globalCSS from "../global.css?url"

import "swiper/css";

import "swiper/css/navigation";
import "swiper/css/pagination";

import Loader from '../components/templates/Loader.astro'
import Text from '../components/system/Text.astro'
const { title = 'One of Best Pre Schools in india I Sri Sri Ravishankar Bal Mandir', description = 'Discover the best pre-schools in India at Sri Sri Ravishankar Bal Mandir. Nurturing young minds with excellence in early education.', keywords = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <ViewTransitions /> -->

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.svg">
		<!-- <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css"> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords}>
		
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="preload" as="style">
		<link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

		<link rel="preload" href={globalCSS} as="style">
		<link rel="stylesheet" href={globalCSS}>

		<script async
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW4mmhYRbPA2nPi-wzuJBPalXSuInbKks&loading=async&libraries=places">
	</script>

		<!-- <l	ink rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->


	</head>
	<body class="overflow-y-hidden">
		<slot />
		<Loader />


	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		/* font-family: system-ui, sans-serif; */
		background-color: #fff;
		scroll-behavior:smooth;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	#circle {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make it circular */
    background-color: #dbf3d9; /* Initial color */
		mix-blend-mode: difference;
    position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
    pointer-events: none; /* Ensures the circle doesn't interfere with cursor events */
}


</style>


<script>
	// when any anchor link that starts with hash is clicked, then do something

	document.addEventListener('click', function (event) {
		if (!event.target.matches('a[href^="#"]')) return;
		event.preventDefault();
		const elementToScroll = document.querySelector(event.target.hash)
		const scrollDelta = Number(elementToScroll.dataset.scrollDelta) || 200;
		const elementPosition = elementToScroll.offsetTop;
		console.log('elementToScroll..', event.target.hash, elementPosition)
		window.scrollTo({
			top: elementPosition - scrollDelta,
			behavior: "smooth"
		});
		history.pushState(null, null, event.target.hash);
	});

</script>

